{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block page_title %}
  {{heading}} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% call banner_wrapper(type='tour') %}
  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium">Start with a template</h2>
      <div style="
        background: #fff;
        border: 2px solid #123;
        color: #000;
        padding: 10px;
      ">
        Thanks for sending your <span class="placeholder">((document))</span>.
        We’ve started processing your application. You should hear back from us
        within two weeks.
      </div>
      <a href='{{ url_for('.tour', page=next_page) }}'>
        Next
      </a>
    </div>
  </div>

  {% endcall %}

{% endblock %}
