{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block page_title %}
  {{heading}} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% call banner_wrapper(type='tour') %}
  <h2 class="heading-medium">
    The template pulls data from a spreadsheet that you upload
  </h2>
  <a href='{{ url_for('.tour', page=next_page) }}'>
    Next
  </a>
  <div class="grid-row">
    <div class="column-one-third">
      <div style="
        background: #fff;
        border: 2px solid #123;
        color: #000;
        line-height: 1.6;
        padding: 10px;
      ">
        <span class="placeholder">((first name))</span>,
        we’ve started processing your application. You should hear back from us
        within two weeks.
      </div>
    </div>
    <div class="column-two-thirds">
      <table style="
        background: #fff;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
        color: #000;
        padding: 10px;
      ">
        <thead>
          <tr style="background: #ddd;">
            <th>phone number</th>
            <th>first name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>07900911111</td>
            <td>Joshua</td>
          </tr>
          <tr>
            <td>07900922222</td>
            <td>Amala</td>
          </tr>
          <tr>
            <td>07900933333</td>
            <td>Roman</td>
          </tr>
        </tbody>
      </table>
      <p>Developers, you can add this data using an API</p>
    </div>
  </div>
  {% endcall %}

{% endblock %}
