{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/banner.html" import banner_wrapper %}

{% block page_title %}
  {{heading}} – GOV.UK Notify
{% endblock %}

{% block maincolumn_content %}

  {% call banner_wrapper(type='tour') %}
  <h2 class="heading-medium">The fields in your template need to match the column headers</h2>
  <a href='{{ url_for('.tour', page=next_page) }}'>
    Next
  </a>
  <div class="grid-row">
    <div class="column-one-third">
      <div style="
        background: #fff;
        border: 2px solid #123;
        color: #000;
        padding: 10px;
        line-height: 1.6;
      ">
        <span class="placeholder">((first name))</span>, thanks for posting your
        <span class="placeholder">((document))</span>.
        We’re processing your application. You should hear back from us
        on <span class="placeholder">((date))</span>
      </div>
    </div>
    <div class="column-two-thirds">
      <table style="
        background: #fff;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
        color: #000;
        padding: 10px;
      ">
        <thead>
          <tr style="background: #ddd;">
            <th class="table-field-heading">phone number</th>
            <th class="table-field-heading">first name</th>
            <th class="table-field-heading">document</th>
            <th class="table-field-heading">date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>07900911111</td>
            <td>Joshua</td>
            <td>passport</td>
            <td>17 May</td>
          </tr>
          <tr>
            <td>07900922222</td>
            <td>Amala</td>
            <td>proof of address</td>
            <td>18 May</td>
          </tr>
          <tr>
            <td>07900933333</td>
            <td>Roman</td>
            <td>driving license</td>
            <td>18 May</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endcall %}

{% endblock %}
